.generator-container {
  display: grid;
  grid-template-columns: 450px 1fr;
  height: 100vh;
  overflow: hidden;
}

.generator-sidebar {
  height: 100vh;
  border-right: 1px solid #e0e0e0;
  overflow: hidden;
}

.generator-main {
  height: 100vh;
  overflow: hidden;
}

@media (max-width: 1024px) {
  .generator-container {
    grid-template-columns: 1fr;
    grid-template-rows: 400px 1fr;
  }
  
  .generator-sidebar {
    height: 400px;
    border-right: none;
    border-bottom: 1px solid #e0e0e0;
  }
  
  .generator-main {
    height: calc(100vh - 400px);
  }
}
